---
import EnlacesSocial from "./icons/EnlacesSocial.astro";
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Mail from "./icons/Mail.astro";
---

<nav class="flex gap-2 justify-center md:gap-x-2 mt-5 md:flex-row flex-wrap sm:justify-normal">
    <EnlacesSocial href="https://github.com/pgcodedeveloper">
        <GitHub class="size-6"/>
        GitHub
    </EnlacesSocial>
    <EnlacesSocial href="https://www.linkedin.com/in/pablo-gillespie">
        <LinkedIn class="size-6"/>
        LinkedIn
    </EnlacesSocial>
    <EnlacesSocial href="mailto:pabloemanuelgille@gmail.com">
        <Mail class="size-6"/>
        pabloemanuelgille@gmail.com
    </EnlacesSocial>
</nav>